# Python
__pycache__/
*.py[cod]
.venv/

# Jupyter
.ipynb_checkpoints/

# Test and tooling caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Editors and operating systems
.idea/
.vscode/
.DS_Store

# Large files
*.gpw